<div ng-init="loadAppliances()">
  <div class="row-fluid">       
    <div class="span4">
      <h1>Appliances</h1>
    </div>
  </div>
  <div class="row-fluid" ng-show="appliances.length > 0">
    <div class="span4">
      <accordion class="accordion" close-others="oneAtATime" >
      <div ng-model ="devices" class="accordion">
        <div accordion-group ng-repeat="appliance in appliances" class="indent panel" is-open="status">
          <accordion-heading>
          {{appliance.title}}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status, 'glyphicon-chevron-right': !status}"></i>
          </accordion-heading>
          <div>
            <div>Description: {{appliance.description}}</div>
              <div class="indent">
                <h3>Controls</h3>
                <ul class="list-unstyled indent">
                  <li ng-repeat="service in appliance.services">
                    <div class="togglebutton" id="{{service.address}}">
                      <label>
                        <input type="checkbox" ng-model="service.value" ng-change="changeState(service)" ng-true-value="'on'" ng-false-value="'off'">
                        <span class="toggle"></span>
                          {{service.label}}
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
          </div>  
        </div>
      </div>
      </accordion>
    </div>
  </div>
  <div ng-hide="appliances.length > 0">
    No appliances found
  </div>
</div>
