<div ng-init="hello()">
  <div ng-show="services.length > 0">
    <h3>Click to map a service to device</h3>

    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">Map {{selected_service_address}}</h3>
      </div>
      <div class="modal-body">
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="deviceName" class="col-lg-3 control-label">Device Name</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="deviceName" placeholder="Device name" ng-model="device.name">
            </div>
          </div>
          <div class="form-group">
            <label for="deviceDescription" class="col-lg-3 control-label">Device Description</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="deviceDescription" placeholder="Device description" ng-model="device.description">
            </div>
          </div>
          <div class="form-group">
            <label for="deviceLocation" class="col-lg-3 control-label">Device Location</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="deviceLocation" placeholder="Device location" ng-model="device.location">
            </div>
          </div>
        </fieldset>
      </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submit(device)">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    
    <div class="panel panel-default" ng-repeat="service in services">
      <div class="panel-body">
        <h4 class="inline">{{service.address}}</h4>
        <a href="javascript:;"><i class="pull-right glyphicon glyphicon-pencil vertical-middle" ng-click="open('{{service.address}}')"></i></a>
      </div>
    </div>
  </div>
  <div ng-hide="services.length > 0">
    No services found
  </div>
</div>


